{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
    
    


<main>

    

    

    <div id="myCarouselInner" >

        BDtheque
    </div>

</main>



    
{% endblock %}
