{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
    
    


<main>

    

    

    <div id="myCarouselInner" >
    <div class="bdboomPaddingMain">
       
  <main>
  Conditions d'utilisation publiques aux utilisateurs : <br />
BDboom s’engage à respecter la législation applicable en matière de protection des données des personnes conformément au règlement général de protection des données (RGPD) du 25 mai 2018 et à la loi Informatique et Libertés modifiée. <br /><br /><br />


LES PUBLICS<br /><br />
Les publics concernés par la présente politique sont les collectionneurs inscrits, les visiteurs de nos sites web.<br /><br /><br />


LES DONNEES COLLECTEES<br /><br />
BDboom ne collecte et ne traite que des données qui sont strictement nécessaires au regard des finalités pour lesquelles elles sont traitées.<br /><br /><br />


Les données à caractère personnel collectées sont notamment :<br />
Données d’identification : email<br />
Données de connexion : date, heure, adresse IP, logiciels et matériels, cookies<br />
Données de vie : centre d’intérêt, vie personnelle ou professionnelle, familiale<br /><br /><br />


LES MESURES PRISES POUR PROTEGER LA CONFIDENTIALITE DES DONNEES<br /><br />
BDbbom accorde une grande importance à la sécurité et à l’intégrité de vos données personnelles. Nous nous engageons à prendre des mesures techniques, informatiques et organisationnelles appropriées et proportionnées afin de garantir la sécurité et la confidentialité de vos données. Nous veillons par ailleurs à respecter l'exactitude de vos données à caractère personnel par des mises à jour régulières et sommes très soucieux de respecter le principe de minimisation des données.<br /><br /><br />


LA DUREE DE CONSERVATION<br /><br />
BDboom conserve vos données à caractère personnel pour une durée nécessaire aux finalités pour lesquelles elles ont été collectées et traitées et dans le respect de la législation en vigueur.<br /><br /><br />


LE PARTAGE DE VOS DONNEES PERSONNELLES<br /><br />
BDbbom ne communique les données qu’elle collecte qu’à ses services internes habilités, ainsi qu’à ses sous-traitants, uniquement dans la mesure où cela est strictement nécessaire à la réalisation de la ou des finalités et dans le respect de la réglementation en vigueur.<br /><br />

BDboom ne pratique aucun échange de données personnelles<br /><br /><br />


TRANSFERT HORS UNION EUROPEENNE<br /><br />
Aucune donnée ne sera transférée vers un pays tiers hors Union européenne.<br /><br /><br />


VOS DROITS CONCERNANT VOS DONNEES A CARACTERE PERSONNEL<br /><br />
Vous disposez d’un droit d’accès, de rectification et d’effacement de vos données. Ces droits vous permettent de demander que ces données soient rectifiées, complétées, mises à jour, verrouillées ou effacées lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou lorsque leur collecte, utilisation, communication ou conservation est interdite.<br /><br />

Vous disposez également d’un droit à la limitation du traitement, à la portabilité de vos données ainsi que du droit de définir des directives relatives au sort de vos données après votre décès.<br /><br />

Vous disposez du droit de vous opposer à tout moment au traitement de vos données.<br /><br />

Vous disposez du droit de retirer à tout moment votre consentement accordé.<br /><br />

Ces droits s’exercent sur simple demande écrite, en justifiant de votre identité, auprès de BDboom à info@bdboom.fr Toute demande émise via un autre canal est susceptible de ne pas être traitée.<br /><br />

Vous pouvez également introduire une réclamation auprès de la CNIL si vous l’estimez nécessaire.<br /><br /><br />


MODIFICATION DE LA POLITIQUE DE PROTECTION DES DONNEES<br /><br />
BDboom se réserve le droit de faire évoluer la présente Politique de protection des données à tout moment pour tenir compte de l’évolution de ses pratiques ainsi que des nouvelles réglementations en matière de protection des données personnelles.<br /><br /><br />


    </div>
    </div>

</main>



    
{% endblock %}
