<!-- FOOTER -->
<footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>
          &copy; 2022–2023 BDboom Company, Inc.  <br /><br />
          <a href="{{ path('app_BDboom_rcpu') }}" class="nav-link ">Règles de confidentialité publiques aux utilisateurs</a> 
          <br />
          <a href="{{ path('app_BDboom_cupu') }}" class="nav-link ">Conditions d'utilisation publiques aux utilisateurs</a>
    </p>
    <p style="font-size:11px;">(En tant que Partenaire Amazon, je réalise un bénéfice sur les achats remplissant les conditions requises.)</p>
    </footer>
  </main>


  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/custom.js"></script>
