<!-- FOOTER -->
<footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>
          &copy; 2017–2022 Company, Inc. &middot; <br />
          <a href="rcpu.php">Règles de confidentialité publiques aux utilisateurs</a> &middot;<br />
          <a href="cupu.php">Conditions d'utilisation publiques aux utilisateurs</a>
    </p>
    <p>En tant que Partenaire Amazon, je réalise un bénéfice sur les achats remplissant les conditions requises.</p>
    </footer>
  </main>


  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/custom.js"></script>
