{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div id="myCarouselInner" >
    <h1>Inscrivez-vous</h1>

    {{ include('user/_form.html.twig') }}

</div>  
{% endblock %}
