{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<main>
    <div id="myCarouselInner" >
        <div class="container marketing"> 
            <h1>Inscrivez-vous</h1>

            {{ include('user/_form.html.twig') }}
        </div>
    </div> 
</main> 
{% endblock %}
