{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
  

<main>    

    <div id="myCarouselInner" >

        {#  message flash collection ajoutée #}
        {% for message in app.flashes('albumAjout') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}




        {{ include('/BDboom/listeResultatBDboom.html.twig') }} 
    
        {{ include('/BDboom/listeResultatAmazon.html.twig') }}  

        {{ include('/BDboom/listeResultatGGbook.html.twig') }}         

    </div>

</main>



    
{% endblock %}
