{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
  

<main>    

    <div id="myCarouselInner" >
    
        {{ include('/BDboom/listeResultatAmazon.html.twig') }}  

        {{ include('/BDboom/listeResultatGGbook.html.twig') }}         

    </div>

</main>



    
{% endblock %}
