{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
    
    


<main>
    

    <div id="myCarouselInner" >

        {% for item in listItems %}
            {{ item.detailPageURL }}<br />
            {{ item.itemInfo.title.displayValue }}<br />
            <img src="{{ item.images.primary.medium.uRl }}" /><br /><br />

        {% else %}
            no records found
        {% endfor %}
    </div>

</main>



    
{% endblock %}
