{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
    
    


<main>

    
    <div class="carousel d-flex justify-content-center" id="myCarouselInner" style="background-color:#000000;">
        


        <div class="cat" style="margin-top:150px;">
            <div class="ear ear--left"></div>
            <div class="ear ear--right"></div>
            <div class="face">
                <div class="eye eye--left">
                    <div class="eye-pupil"></div>
                </div> <div class="eye eye--right">
                    <div class="eye-pupil"></div>
                </div>
                <div class="muzzle"></div>
            </div>
        </div> 

    </div>
</main>



    
{% endblock %}
