{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
    
    


<main>

    

    

    <div id="myCarouselInner" >
     <div class="bdboomPaddingMain">

       Règles de confidentialité publiques aux utilisateurs<br /><br />

POLITIQUE RELATIVE AUX COOKIES<br /><br />
Lors de la consultation du site, des cookies sont déposés, après votre accord, sur votre ordinateur. Un cookie est un témoin de connexion qui prend la forme d’un petit fichier texte déposé par le serveur du site que vous visitez sur votre disque dur ou dans la mémoire de votre navigateur et qui permet à votre ordinateur de stocker et transmettre différentes données techniques.<br /><br />

BDboom utilise des cookies sur ce site pour vous proposer des services et contenus personnalisés, réaliser des statistiques de visite et vous permettre de partager les contenus sur les réseaux sociaux. BDboom ne peut stocker des cookies sur votre appareil que s’ils sont strictement nécessaires au fonctionnement de ce site. Pour tous les autres types de cookies, nous avons besoin de votre permission.<br /><br />

Lors de votre première visite sur le site bdboom.fr un bandeau vous informe de l’utilisation des cookies. Vous avez alors le choix d’accepter ou de refuser les cookies. Un cookie ne nous permet pas de vous identifier (votre nom ou votre adresse n’y apparaisse pas par exemple).<br /><br />

Les différents types de cookies utilisés sont :<br />
Les Cookies Nécessaires : contribuent à rendre un site Web utilisable en activant des fonctions de base comme la navigation de page et l’accès aux zones sécurisées du site Web. Le site Web ne peut pas fonctionner correctement sans ces cookies.<br /><br />

Les Cookies Statistiques : aident les propriétaires du site Web, par la collecte et la communication d’informations de manière anonyme, à comprendre comment les visiteurs interagissent avec les sites Web.<br /><br />

Les Cookies Marketing : permettent d’effectuer le suivi des visiteurs au travers des sites Web. Le but est d’afficher des publicités qui sont pertinentes et intéressantes pour l’utilisateur individuel et donc plus précieuses pour les éditeurs et annonceurs tiers.<br /><br />

Vous pouvez, à tout moment, refuser l’utilisation des cookies en tout ou partie. Pour cela, il vous faudra modifier les paramètres de votre navigateur. Cependant votre expérience utilisateur risque d’être dégradée. Nous déclinons toute responsabilité découlant du disfonctionnement du site dû à votre refus de certains cookies.<br /><br /><br />
    </div>
    </div>

</main>



    
{% endblock %}
