{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}



 {% block javascripts %}
   
{% endblock %}

{% block body %}
    
    


<main>

   
   

    <div id="myCarouselInner" >

        <div id="qr-reader"></div>
        <div id="result">result</div>
    </div>

</main>

{# <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script> #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>


let isbnArray = [];

function onScanSuccess(decodedText, decodedResult) {
    console.log(`Code scanned = ${decodedText}`, decodedResult);
    console.log("ds le tableau :: "+isbnArray.indexOf(decodedText) );
    //isbnArray[]= ${decodedText};
    if( isbnArray.indexOf(decodedText) === -1){
        console.log("deja scanné"+" ds le tableau :: "+isbnArray.indexOf(decodedText) );
    }
    else{
        isbnArray.push(decodedText);
        console.log("scanné ok");
    }
    

    result="";
    
    for (const element of isbnArray) {
        //console.log(element); 
        result += element+'<br />';
    }
    document.getElementById("result").innerHTML = result;


}
var html5QrcodeScanner = new Html5QrcodeScanner(
	"qr-reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess);
</script>
    
{% endblock %}
