{% extends 'base.html.twig' %}

{% block title %}New Collectionn{% endblock %}

{% block body %}
<main>
    <div id="myCarouselInner" >
        <div class="bdboomPaddingMain">
            <h1>Ajouter une nouvelle collection</h1>

            {{ include('collectionn/_form.html.twig', {'button_label': 'nouvelle collection'}) }}

            {# <a href="{{ path('app_collectionn_index') }}">back to list</a> #}
        </div>
    </div>
</main>
{% endblock %}
