{% extends 'base.html.twig' %}

{% block title %}New Wishlist{% endblock %}

{% block body %}
<main>
    <div id="myCarouselInner" >
        <div class="bdboomPaddingMain">
            <h1>Ajouter une nouvelle Wishlist</h1>
            {{ include('wishlist/_form.html.twig', {'button_label': 'nouvelle collection'}) }}
            {# <a href="{{ path('app_wishlist_index') }}">back to list</a> #}
        </div>
    </div>
</main>
{% endblock %}
