$primary: teal;
$secondary: rgb(209, 12, 35);
$BDblue : #009EE0;

// $nav-link-color : #FFFFFF;
$navbar-light-color : #FFFFFF;
$navbar-light-disabled-color : #adb5bd;
$nav-link-color : #FFFFFF;
$nav-link-font-weight: bold;



@import "/node_modules/bootstrap/scss/bootstrap.scss";


//footer width bug fix
.container, .container-sm, .container-md, .container-lg {
    max-width: 970px;
}


.navbar-toggler {
    border: none;
    outline: none;
    
    &:focus,
    &:active,
    &-icon:focus {
        outline: none;
        box-shadow: none;
    }
}


body{
    background-color:$BDblue ;
    background-image: url('/public/images/risingSun2.png');
}

header,nav, main, footer{
    background-color:#fff ;
    max-width: 970px;    
    margin: 0 auto;
}



.bd-nav-link{
    color:#FFFFFF;
    text-decoration:none;
    
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}








//MIAOU

$size: 170px; // (Fully responsive)
$color-black: #161616;
$color-white: #fff;

// Cat
.cat {
    position: relative;
    height: $size;
    width: $size * 1.13;
}

// Ears
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: $color-white;
    
    // Ear hair
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 24%;
        height: 10%;
        width: 5%;
        border-radius: 50%;
        background: $color-black;
    }
    
    &::after {
        transform-origin: 50% 100%;
    }
}

.ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
    
    &::before,
    &::after {
        right: 10%;
    }
    
    &::after {
        transform: rotate(-45deg);
    }
}

.ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
    
    &::before,
    &::after {
        left: 10%;
    }
    
    &::after {
        transform: rotate(45deg);
    }
}

// Face
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    // background: #4a4848;
    background: #000000;
    border-radius: 50%;
}

// Eyes
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #eded23;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    
    // Eyelids
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
        border-radius: 0 0 50% 50% / 0 0 40% 40%;
        // background: #e51313;
        background: #000000;
        animation: blink 4s infinite ease-in;
    }
    
    @keyframes blink {
        0% { height: 0; }
        90% { height: 0; }
        92.5% { height: 100%; }
        95% { height: 0; }
        97.5% { height: 100%; }
        100% { height: 0; }
    }
    
    // Tips of the eyes
    &::before {
        content: '';
        position: absolute;
        top: 60%;
        height: 10%;
        width: 15%;
        background: $color-white;
        border-radius: 50%;
    }
}

.eye--left {
    left: 0;
    
    &::before {
        right: -5%;
    }
}

.eye--right {
    right: 0;
    
    &::before {
        left: -5%;
    }
}

// Pupils
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: $color-black;
    border-radius: 50%;
    animation: look-around 4s infinite;
    
    @keyframes look-around {
        0% { transform: translate(0) }
        5% { transform: translate(50%, -25%) }
        10% { transform: translate(50%, -25%) }
        15% { transform: translate(-100%, -25%) }
        20% { transform: translate(-100%, -25%) }
        25% { transform: translate(0, 0) }
        100% { transform: translate(0, 0) }
    }
    
    .eye--left & {
        right: 30%;
    }
    
    .eye--right & {
        left: 30%;
    }
    
    // Glare on the pupil
    &::after {
        content: '';
        position: absolute;
        top: 30%;
        right: -5%;
        height: 20%;
        width: 35%;
        border-radius: 50%;
        background: $color-white;
    }
}

// Muzzle
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: $color-white;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}


//fin MIAOU
                
                
                
                