{% extends 'base.html.twig' %}

{% block title %}AlbumCollection{% endblock %}

{% block body %}

<main>

    

    <div id="myCarousel">
    <h1>AlbumCollection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album_collection.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_album_collection_index') }}">back to list</a>

    <a href="{{ path('app_album_collection_edit', {'id': album_collection.id}) }}">edit</a>

    {{ include('album_collection/_delete_form.html.twig') }}


    </div>
</main>
{% endblock %}
